    <div class="container">
      <h1>WeSport</h1>
      <h2>Find the perfect match</h2>
      <div class="row">
        <form class="col l8 offset-l2 s12 card" action="/login" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input type="email" id="email" name="email" class="validate">
              <label for="email">Enter your email address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="password" name="password" class="validate">
              <label for="password">Enter your password</label>
              <button class="btn waves-effect waves-light" type="submit" name="action">Login
              </button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <a href="/signup">New User? Sign up here!</a>
            </div>
          </div>
        </form>
      </div>
    </div>