<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WeSport</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
   <nav>
      <div class="nav-wrapper green darken-4">
        <a href="/" class="brand-logo">We Sport</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/signup">Sign Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/"></a>Sign Up</li>
        </ul>
      </div>
    </nav>

    <%- body %>

      <footer class="page-footer green darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Footer Left</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <a class="grey-text text-lighten-3 logo" href="#!"><img src="./img/fb.png" alt="Facebook"</a>
              <a class="grey-text text-lighten-3 logo" href="#!"><img src="./img/tw.png" alt="Twitter"</a>
              <a class="grey-text text-lighten-3 logo" href="#!"><img src="./img/ig.png" alt="Instagram"</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>