body {
    /*background: url("../img/Tennis_shake_hands_after_match.jpg");*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-color: #022F02;*/
}